@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(../fonts/Font1.woff2);
}

@font-face {
  font-family: font2;
  src: url(../fonts/Font2.woff2);
}

@font-face {
  font-family: font3;
  src: url(../fonts/Font3.woff2);
}

@font-face {
  font-family: font4;
  src: url(../fonts/Font4.woff2);
}

*{
  margin: 0;
  padding: 0;
  cursor: none;
}

/* body {
  height: 100%;
  width: 100%;
  background-image: url('./assets/BGImage.png');
  background-size: cover;
  background-position: center;
} */


body{
  height: 100%;
  width: 100%;
  overflow-x: hidden  ;
  background-color: black;
  color: white;
}


#cursor {
  position: fixed;
  width: 1.25rem; /* w-5 */
  height: 1.25rem; /* h-5 */
  background: #fff; /* bg-white */
  border-radius: 9999px; /* rounded-full */
  pointer-events: none;
  z-index: 100;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}


html.has-scroll-smooth {
  overflow: hidden; 
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.has-scroll-smooth body {
  overflow: hidden; 
}

/* Optional: Hide the default scrollbar for a cleaner look */
.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

/* Optional: Style the custom scrollbar provided by Locomotive */
.c-scrollbar {
  position: fixed;
  right: 0;
  top: 0;
  width: 10px;
  height: 100vh;
  transform-origin: center right;
  z-index: 1000;
}
.c-scrollbar_thumb {
  background-color: #555; /* Scrollbar color */
  border-radius: 10px;
  margin: 2px;
}